# Environment Base URLs for Navigation between Apps (Development Ports)
NEXT_PUBLIC_PORTAL_URL=http://localhost:3000
NEXT_PUBLIC_DASHBOARD1_URL=http://localhost:3001
NEXT_PUBLIC_DASHBOARD2_URL=http://localhost:3002
NEXT_PUBLIC_DASHBOARD3_URL=http://localhost:3003
NEXT_PUBLIC_DASHBOARD4_URL=http://localhost:3004
NEXT_PUBLIC_ADMIN_URL=http://localhost:3005
NEXT_PUBLIC_LOGIN_URL=http://localhost:3006
